@import "variables";
@import "mixins";
@import "helpers";

/*#region normalize ----------------------------------- */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*#endregion normalize -------------------------------- */

/*#region Common -------------------------------------- */

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 400 1.4rem/1.5 Montserrat, sans-serif;
  color: $black900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/*#endregion Common ----------------------------------- */

/*#region Typography ---------------------------------- */

h1, .h1,
h1, .h1,
h1, .h1,
h1, .h1,
h1, .h1,
h1, .h1{
  margin-top: 1.27em;
  margin-bottom: 1.27em;
}

h1, .h1 {
  font-size: 3.3rem;
}
h2, .h2 {
  font-size: 2.5rem;
}
h3, .h3 {
  font-size: 1.9rem;
}
h4, .h4,
h5, .h5,
h6, .h6{
  font-size: 1.4rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.5em;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/*#endregion Typography ------------------------------- */

/*#region Container ----------------------------------- */

.container{
  margin: 0 auto;
  max-width: 120rem;
  min-width: 100rem;
  padding: 0 2rem;

  &--narrow{
    width: 45rem;
    min-width: unset;
  }
}

/*#endregion Container -------------------------------- */

/*#region Form ---------------------------------------- */

.form{

  &__body{
    margin: 0 0 30px;
  }

  &__errors{
    margin: 0 0 2rem;
  }

  &__input{
    margin: 0 0 20px;
  }
}

/*#endregion Form ------------------------------------- */

/*#region Page title ---------------------------------- */

.page-title{
  font-size: 4rem;
  padding: 0 0 .65em;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height: .6rem;
    background-color: #FEF100;
  }
}

/*#endregion Page title ------------------------------- */

/*#region utils --------------------------------------- */

.my-auto{
  margin: auto 0;
}

.mx-auto{
  margin: 0 auto;
}

/*#endregion utils ------------------------------------ */
