@import "../../variables";

.courses{

  &__head{
    padding: 3rem 3.5rem;
    background-color: $black900;
    border: 2px solid $black900;
    display: flex;
    border-radius: .8rem .8rem 0 0;
  }

  &__list{
    margin: 0 0 3rem;
  }

  &__search{
    flex: 1 0 auto;
  }

  &__create-btn{
    margin: 0 0 0 2rem;
  }

  &__list{
    padding: 3rem 3.5rem;
    border: 2px solid $black900;
    border-radius: 0 0 .8rem .8rem;
  }

  &__no-curses{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
  }
}