.course-card{
  display: flex;
  gap: 3rem;
  padding: 0 0 3rem;
  margin: 0 0 4rem;
  border-bottom: 1px solid #000000;

  &:last-child{
    margin: 0;
    padding: 0;
    border: none;
  }

  &__col:first-child{
    flex: 1 0 73%;
  }

  &__col:last-child{
    flex: 0 1 30%;
    min-width: 0;
  }

  &__title{
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 12px;
  }

  &__id{
    font-size: 13px;
    color: rgba(0,0,0,.7);
    margin: 0 0 1rem;
  }

  &__description{
    margin: 0;
    height: 6em;
    overflow: hidden;
  }

  &__info{
    margin: 0 0 2rem;
  }

  &__btn-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}